<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/global.css">
        <link rel="stylesheet" href="/css/carrinho.css">
        <title>Pagina cadastro</title>
    </head>

<body>

    <%- include('../partials/header') %>

    <main>
        <h1>Meu Carrinho</h1>
        <section class="conteiner">
            <% carrinho.forEach( produto => { %> 
            
            <div class="img-produto">
                <img src=<%= produto.imagem %> alt=<%= produto.imagem %>>
            </div>

            <div class="produto">
                <div>
                    <p>Descrição: <%= produto.descricao %></p>
                </div>
                <div class="mini-box">
                    <div class="qtd-box">
                        <label for="qtd">QTD:</label>
                        <input type="number" name="qtd" placeholder=<%= produto.qtd %>>
                    </div>
                    <div class="valor-box">
                        <p>Valor: <%= produto.preco %></p>
                    </div>
                </div>
            </div>
            <% }) %> 
        </section>

        <section class="conteiner-frete">
            <form action="#" method="post">
                <h3>
                    Calcular frete e prazo
                </h3>

                <input type="text" placeholder="Destino">
                <button type="submit"> OK</button>
            </form>
        </section>

        <h2>
            Resumo do pedido
        </h2>

        <section class="conteiner-resumo">

            <div class="resumo-box">

                <div class="mini-box-resumo">
                    <div>
                        Quantidade de produtos:
                    </div>
                    <div>
                        Frete
                    </div>
                </div>

                <div class="resumo-box-lateral-direita">
                    <div>
                        <%= total[1] %> 
                    </div>
                    <div>
                        Em Breve
                    </div>
                </div>
            </div>
            <hr>
            <p>Total: R$ <%= total[0] %> </p>
        </section>

        <section class="conteiner-btns">
            <form action="/compraFinalizada" method="post">
                <button type="submit">
                    Finalizar compra
                </button>
            </form>
            <a href="/">adicionar mais produtos</a>
        </section>

        <section class="similares-box">

            <div>
                <div class="box-item">
                    <img src="img/Boleto.png" alt="Falha ao carregar a imagem">
                    <p>Descrição</p>
                </div>
                <div class="box-item">
                    <img src="img/Boleto.png" alt="Falha ao carregar a imagem">
                    <p>Descrição</p>
                </div>
            </div>
            <div>
                <div class="box-item">
                    <img src="img/Boleto.png" alt="Falha ao carregar a imagem">
                    <p>Descrição</p>
                </div>
                <div class="box-item">
                    <img src="img/Boleto.png" alt="Falha ao carregar a imagem">
                    <p>Descrição</p>
                </div>
            </div>
            <div>
                <div class="box-item" id="off">
                    <img src="img/Boleto.png" alt="Falha ao carregar a imagem">
                    <p>Descrição</p>
                </div>
                <div class="box-item" id="off">
                    <img src="img/Boleto.png" alt="Falha ao carregar a imagem">
                    <p>Descrição</p>
                </div>
            </div>

            <div>
                
                <div class="box-item-ultimo" id="off">
                    <img src="img/Boleto.png" alt="Falha ao carregar a imagem">
                    <p>Descrição</p>
                </div>
            </div>

        </section>
    </main>
        <%- include('../partials/footer') %>

</body>

</html>